<div class="container">

   <%= render 'books/error', book: @user %>


  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
          <label for="inputName" class="d-block">Name</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", class:'form-control name' %>
        </div>
        <div class="form-group">
          <label for="inputImage" class="d-block">Image</label>
          <%= f.attachment_field :profile_image, id:"inputImage" %>
        </div>
        <div class="form-group">
          <label for="inputIntroduction" class="d-block">Introduction</label>
          <%= f.text_area :introduction, id:"inputIntroduction", class:'form-control name' %>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class:"btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
