<!--user info-->

<h1>User info</h1>

<table>
  <!--画像-->
    <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>

  <tr>
    <th>name</th>
    <th><%= @book.user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @book.user.introduction %></th>
  </tr>
</table>


<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Option</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>


<!--Book detail-->
<h1>Book detail</h1>
  <table>
    <tr>
        <!--user-image-->
      <td>User image</td>
      <td>
        <%= link_to book_path(@book.id) do %>
        <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        <% end %>
      </td>
    </tr>
  </table>